.yellow{
    padding: 20px;
    gap: 40px;
    display: flex;
    justify-content: center;
    border: solid 2px;
    background-color:rgb(247, 247, 108)
}
#button{
    color: antiquewhite;
    background-color: black;
    padding: 10px;
    width: 10%;
    
    
    
    
}




    
